<div class="container-fluid">

    <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <form>
                <h3>Names and Colours</h3>
                <p>Put in your name and theirs (as spelled in eve) to allow for colouring of the interview and lookup of zkillboard stats. If you don't specify colours, defaults will be used.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label for="yourName">Your Name: </label><br/>
                            <label for="yourColour">Your Colour: </label>
                        </div>
                        <div class="col-md-8">
                            <input id="yourName" type="text" placeholder="Your Name" ng-model="yourName" ng-model-options="{debounce: 2000}" ng-change="setYourName()"><br/>
                            <input id="yourColour" type="text" ng-model="yourColour">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label for="theirName">Their Name: </label><br/>
                            <label for="theirColour">Their Colour: </label>
                        </div>
                        <div class="col-md-8">
                            <input id="theirName" type="text" placeholder="Their Name" ng-model="theirName" ng-model-options="{debounce: 2000}" ng-change="getZKillboard()"><br/>
                            <input id="theirColour" type="text" ng-model="theirColour">
                        </div>
                    </div>
                </div>


                <h3>API</h3>
                <p>Paste an email containing api keys in here.</p>
                <textarea rows="4" placeholder="Paste API Email here" ng-change="findKeys(apiKeys)" ng-model="apiKeys"></textarea>
                <div class="invalid" ng-show="keyLength != vCodeLength">The number of keys and values is mismatched ({{keyLength}} key{{keyLength > 1 ? 's' : ''}} and {{vCodeLength}} vCode{{vCodeLength > 1 ? 's' : ''}})</div>
                <table ng-show="keys.length > 0" class="table">
                    <tr>
                        <th>KeyID</th>
                        <th>vCode</th>
                        <th>accessMask</th>
                        <th>Expiry</th>
                    </tr>
                    <tr ng-repeat="key in keys" ng-class="{'valid' : key.valid, 'invalid': !key.valid}">
                        <td>{{key.keyID}}</td>
                        <td>{{key.vCode}}</td>
                        <td>{{key.accessMask}}</td>
                        <td>{{key.expiry != '' ? key.expiry : 'Never'}}</td>
                    </tr>
                </table>
                <h3>Skills</h3>
                <p>Paste the skills from EveMon here.</p>
                <textarea rows="4" placeholder="Paste Skills Here" ng-change="formatSkills(characterSkills)" ng-model="characterSkills"></textarea>

                <h3>Interview</h3>
                <p>Paste the full interview from the log file in here (you <strong>do not</strong> need to convert its formatting before pasting)</p>
                <textarea rows="4" placeholder="Paste Interview Here" ng-change="formatInterview(conversation)" ng-model="conversation"></textarea>

                <h3>Application</h3>
                <p>Paste the BBCode formatting from the recruitment sheet into here.</p>
                <textarea rows="4" placeholder="Paste Application Here" ng-change="formatApplication(application)" ng-model="application"></textarea>

                <h3>Your comment</h3>
                <p>Write anything you want to add to the application in here.</p>
                <textarea rows="4" placeholder="Put Your Comment Here" ng-change="updatePost()" ng-model="yourComment"></textarea>

                <h3>Compiled Results</h3>
                <div class="row">
                    <div class="col-md-4">
                        <p>This field contains your forum post Title</p>
                        <textarea id="title" rows="4" placeholder="Your Title" ng-model="title"></textarea>
                        <button class="btn btn-warning" data-clipboard-target="#title">Copy Title to Clipboard</button>
                    </div>
                    <div class="col-md-4">
                        <p>This field contains your compiled forum post</p>
                        <textarea id="post" rows="4" placeholder="Your Post" ng-model="post"></textarea>
                        <button class="btn btn-primary" data-clipboard-target="#post">Copy Post to Clipboard</button>
                    </div>
                    <div class="col-md-4">
                        <p>This field contains your api-key-mail.</p>
                        <textarea id="mail" rows="4" placeholder="Your Tinfoilhatgang Mail" ng-model="mail"></textarea>
                        <button class="btn btn-success" data-clipboard-target="#mail">Copy Investigator Mail to Clipboard</button>
                    </div>
                </div>
            </form>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <p>Made by <a href="https://gate.eveonline.com/Profile/Aiko%20Kurushio">Aiko</a> (v0.1.0) for the glory of ADHC <a href="https://github.com/NotARealTree/RO-Helper">View Source @ Github</a></p>
        </div>
        <div class="col-md-2">
        </div>

    </div>
</div>