textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

body{
  margin-top: 20px;
  margin-bottom: 70px;
}

.valid{
  background-color: #9FF781;
}

.invalid{
  background-color: #FA5882;
}

table{
  width: 100%;
  padding: 10%;
}

.btn{
  margin-right: 15px;
}

label{
  //font-weight: normal;
}

tr{
}
