// Systems

@high-sec: #00A000;
@low-sec: #bf6a40;
@null-sec: #880000;

// Alert Colors:
@alert-primary-color: @high-sec;
@alert-secondary-color: @low-sec;
@alert-tertiary-color: @null-sec;

@light-grey-blue: #4b646f;
@dark-grey-blue: #1B2529;


// Navbar
@navbar-primary-color: #FFFFFF;
@navbar-primary-background-color: #367FA9;